@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter";
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('https://source.unsplash.com/random/?nature');
    background-size: cover;
    background-position: top, center;
    background-repeat: no-repeat;
    z-index: -100;

    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: "";
    position: fixed;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(25px);
    z-index: -99;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 0;
    font-size: 50px;
    font-weight: 500;
}

.digit-container {
    position: relative;
    width: 65px;
    overflow: hidden;
}

.clock {
    position: absolute;
    width: 100%;
    left: 0px;
    text-align: center;
    /* top: 0px; */
    /* animation: 0.5s ease-in-out 0s forwards hide; */
}





/* @keyframes hide {
    0% {
        top: 0px;
    }
    
    100% {
        top: -100%;
    }
} */